@using isitsupported.xyz.Models
@model ProductModel


<div class="container text-center">
    
@if(null != Model)
{
        <h2>@Model.Name</h2>
        <table>
            <thead>
                <tr>
                    <th>Product Name</th>
                    <th>Start Date</th>
                    <th>End Date</th>
                    <th>In Support</th>
                </tr>
            </thead>
            <tbody>
                @foreach(var SupportObj in Model.SupportList)
                {
                <tr>
                    <td>@SupportObj.VersionShort</td>
                    <td>@SupportObj.StartDate</td>
                    <td>@SupportObj.EndDate</td>
                    <td>@Html.Raw(DateTime.Compare(DateTime.Now, DateTime.Parse(SupportObj.EndDate)) > 0 ? "&#10060;" : "&#9989;"
)</td>
                </tr>
                }
            </tbody>
        </table>
        <br/>
        <br/>
    }
    
</div>
